#contato {
  background-color: #3A4A6E;
  height: 73vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
  }

  form {
    background-color: #F9F9F9;
    padding: 70px 100px;

    p {
      font-size: 1.2rem;
      color: #000;
      text-align: center;
      margin-bottom: 1.5rem;

      &.politica {
        font-size: .8rem;
        text-align: left;
        text-transform: none;
        margin-bottom: 1rem;

        input[type="checkbox"] {
          height: auto;
          margin-bottom: 0;
          margin-right: .3rem;
          appearance: unset;
          background: #FFF;
          border: solid 1px #132439;
          padding: 5px;
          border-radius: 5px;
          outline: 0;

          &:checked {
            background-color: #265EE4;
            border: solid 1px #265EE4;
          }
        }

        a {
          margin-left: .2rem;
          text-decoration: none;
          transition: .3s;

          &:hover {
            color: #007bff;
          }
        }
      }
    }

    @media (max-width: 767px) {
      padding: 25px;
    }

    input {
      height: 60px;
      margin-bottom: 10px;
    }

    .coluna-1 {
      padding-right: 5px;

      @media (max-width: 767px) {
        padding: 0px 15px;
      }
    }

    .coluna-2 {
      padding-left: 5px;

      @media (max-width: 767px) {
        padding: 0px 15px;
      }

      .iti {
        width: 100%;
        margin-bottom: 10px;
      }

      textarea {
        margin-bottom: 10px;

      }
    }

    .button-form {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        padding: 5px 98px;
        border-radius: 3px;
        background-color: #265EE4;
        border: 0;

        @media (max-width: 767px) {
          width: 100%;
          padding: 5px 0;
        }
      }
    }

    .form-control {
      background-color: #EEEEEE;
      border: 0px;
    }
  }

  @media (max-width: 641px), (max-width: 800px) and (orientation: landscape) {
    height: auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}