#main-realizacao {
  font-family: $font-primary;

  @media (max-width: 767px) {
    background-color: #F5F5F5;
    padding-top: 40px;
  }

  h2 {
    color: #707070;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 45px;
  }

  .align {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .realizacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    background-color: #F5F5F5;

    .logo-realizacoes {
      margin-right: 1rem;

      @media (max-width: 767px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
      }
    }

    .realizacao {
      
      img{
        @media (max-width:  641px){
          width: 100%;
          margin: 0 !important;
        }
        @media (max-width: 800px) and (orientation: landscape) {
          width: 60%;
        }
      }

      .text-mobile {
        display: none;
        text-align: center;
        margin-top: 40px;

        h3{
          font-weight: bold;
        }

        p{
          font-size: 1.2rem;
        }

        @media (max-width: 767px) {
          display: block;
        }
      }

      &:last-child {
        margin: auto 0;
        transform: translateY(-10px);
        @media (max-width: 641px){
          transform: translateY(0);
        }
      }

      @media (max-width: 767px) {
        margin-bottom: 20px;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 575px) {
        margin-bottom: 20px;
        margin-left: 0 !important;
      }
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 0px 0px 40px 0px;
      background-color: unset;
    }

  }
}