#banner {
    background-image: url('../img/background-otimizada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 81%;
    height: 100vh;

    

    .banner-content {
        width: 100%;
        background-color: rgba(46, 21, 21, 0.3);

        .container {
            @media (max-width: 641px) {
                align-items: center !important;

                margin-bottom: 1rem;
            }

            .header-title {
                display: flex;
                align-items: center;

                @media (max-height: 800px) {
                    margin-top: 50px;
                }

                h2 {
                    font-size: 40px;
                    font-family: $font-primary;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #029EE3;
                    padding: .3rem;
                    border-radius: .3rem;

                    @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                        font-size: 20px;
                        text-align: center;
                    }
                }

            }

            .banner-text {
                color: white;
                font-family: $font-primary;
                line-height: 1.3;
                
                .first-col {
                    text-align: right;
                    display: flex;
                    align-items: center;
                    padding: 0;

                    @media (max-width: 1199.98px) {
                        justify-content: flex-end;
                    }

                    p {
                        &:nth-of-type(2) {
                        font-size: 40px;
    
                            @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .second-col {
                    text-align: left;

                    p {
                        &:nth-of-type(1) {
                            @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                                font-size: 12px;
                                font-weight: 600;
                            }

                            strong {
                                font-size: 20px;
                            }
                        }

                        &:nth-of-type(2) {
                            font-size: 36px;

                            @media (max-width: 1199px) {
                                font-size: 32px;
                            }

                            @media (max-width: 991px) {
                                font-size: 22px;
                            }
        
                            @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                                font-size: 20px;
                            }
                        }

                        &:nth-of-type(3) {
                            @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                                font-size: 10px;
                            }
                        }
                    }
                }

                p {
                    strong {
                        font-weight: 700;
                    }

                    &:nth-of-type(1), &:nth-of-type(2) {
                        margin-bottom: 0
                    }
                }

                &.last-row {
                    @media (max-width: 991px) {
                        justify-content: center;
                    }
                }

                h4 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }


            .header-form {
                img {
                    @media(max-width: 641px) {
                        width: 100%;
                        margin: 0 auto;
                    }
                }

                form {
                    max-width: 329px;
                    width: 100%;
                    font-family: $font-primary;
                    padding: 1rem;
                    background-color: rgba(58, 82, 110, 0.8);

                    p {
                        font-size: 19px;
                        text-transform: uppercase;
                        color: #fff;

                        @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                            font-size: 12px;
                            text-align: center;
                        }

                        &.politica{
                            font-size: .8rem;
                            text-align: left;
                            text-transform: none;
                            margin-bottom: 1rem;

                            input[type="checkbox"]{
                                height: auto;
                                margin-bottom: 0;
                                margin-right: .3rem;
                                appearance: unset;
                                background: #FFF;
                                border: solid 1px #FFF;
                                padding: 5px;
                                border-radius: 5px;
                                outline: 0;
                                
                                &:checked{
                                    background-color: #132439;
                                }
                            }

                            a{
                                margin-left: .2rem;
                                text-decoration: none;
                                transition: .3s;

                                &:hover{
                                    color: #007bff;
                                }
                            }
                        }
                    }

                    input {
                        margin-bottom: 11px;
                        font-size: 14px;
                        height: 45px;

                        &::placeholder {
                            color: #575757
                        }
                    }

                    .submit {
                        span {
                            font-size: 0.75rem;
                            color: #FFF;
                        }

                        button {
                            text-transform: uppercase;
                            padding: 7px 45px;
                            background-color: #132439;
                            border: 0;
                            outline: 0;
                            display: block;
                            margin-left: auto;

                            @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
                                width: 100px;
                                font-size: .9rem;
                                padding: 0;
                                border-radius: unset;
                                height: 2rem;
                            }
                        }
                    }

                    @media (max-width: 1200px) {
                        max-width: 450px;
                    }

                    .iti {
                        width: 100%;
                        margin-bottom: 11px;
                    }
                }

                @media (max-width: 992px) {
                    padding: 0;
                }

                @media (max-width: 575px) {
                    max-width: 273px;
                    margin: .5rem auto;
                    text-align: center;
                }
            }

            .right-text {
                font-family: $font-primary;
                color: white;
                font-size: 12px;
                transform: rotate(-90deg);
                position: absolute;
                bottom: 70px;
                right: -70px;
                
            } 
        }

        @media (max-width: 767px) {
            position: relative;
            top: auto;
        }
    }

    //landscape 
    @media (max-height: 600px) and (orientation: landscape) {
        height: 120vh;
        .container .row:nth-of-type(1) {
            padding-top: 60px;
        }

        .col-ls-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 1025px) {
        background-position: left;
    }

    @media (max-width: 350px) {
        height: 115vh;
    }
}