$font-primary: 'Montserrat',
sans-serif;

html {
    scroll-behavior: smooth;
}

// CONTAINER DO BOOSTRAP ALTERADO PARA
@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}


@import "import.scss";

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    color: #FFF;
    height: 200px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: #FFF;
    }

    .container {
        .logo {
            a {
                transform: translateY(-1rem);
                text-align: center;

                img {
                    @media (max-width: 641px) {
                        width: 80%;
                    }
                }

                @media(max-width: 641px) {
                    transform: translateY(0);
                }
            }

            &.internit {
                img {
                    transform: translateX(6rem);

                    @media (max-width: 641px) {
                        transform: translateX(0);
                        width: 71%;
                    }
                }
            }

            &.incena {

                img {
                    transform: translateX(-4rem);

                    @media (max-width: 641px) {
                        transform: translateX(0);
                    }
                }

                @media (max-width: 767px){
                    align-items: flex-start !important;
                }
            }

            @media (max-width: 641px) {
                text-align: center;
            }
        }
    }

    @media (max-width: 767px){
        height: 269px;
    }
}

.modalPopup {
    @media (max-width: 641px) {
        min-width: 100% !important;
    }

    .modal-close {
        width: 62% !important;
    }
}

#banner-politica {
    background: url('../img/politica-de-privacidade.jpg');
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;

    .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    h1 {
        z-index: 2;
    }

    @media (max-width: 767px) {
        height: 350px;
    }
}