html {
  scroll-behavior: smooth; }

@media (min-width: 1200px) {
  .container {
    max-width: 1190px; } }
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  header nav {
    height: 125px;
    font-family: "Montserrat", sans-serif; }
    @media (max-width: 991px) and (orientation: landscape) {
      header nav {
        height: 77px; }
        header nav.navbar {
          padding: 0 1rem; } }
    @media (min-width: 1200px) {
      header nav .container {
        max-width: 1240px !important; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      header nav .container {
        max-width: 1008px !important; } }
    header nav .container .social {
      display: none;
      align-items: center; }
      header nav .container .social a {
        padding: 0 25px; }
        header nav .container .social a i {
          font-size: 36px;
          color: #000; }
          @media (max-width: 767px) {
            header nav .container .social a i {
              color: #fff;
              font-size: 30px; } }
          @media (max-width: 575px) {
            header nav .container .social a i {
              font-size: 22px; } }
          header nav .container .social a i.mobile {
            color: #2859CF; }
        @media (max-width: 575px) {
          header nav .container .social a img {
            width: 20px; } }
        header nav .container .social a:last-child {
          padding-right: 0; }
          @media (max-width: 767px) {
            header nav .container .social a:last-child {
              padding-right: 25px; } }
          @media (max-width: 575px) {
            header nav .container .social a:last-child {
              padding-right: 30px; } }
        @media (max-width: 575px) {
          header nav .container .social a {
            padding: 0 8px; } }
      @media (max-width: 575px) {
        header nav .container .social {
          display: flex; } }
    header nav .container .navbar-brand {
      width: 200px;
      height: 125px;
      display: flex;
      align-items: center;
      background-color: #FFF;
      padding: .5rem 1.2rem;
      border-bottom-left-radius: .8rem;
      border-bottom-right-radius: .8rem;
      transition: all .5s; }
      @media (prefers-color-scheme: dark) {
        header nav .container .navbar-brand {
          background-color: #FFF; } }
      @media (max-width: 1209px) {
        header nav .container .navbar-brand {
          width: 170px; } }
      @media (max-width: 1199px) {
        header nav .container .navbar-brand {
          width: 130px; } }
      @media (max-width: 900px) {
        header nav .container .navbar-brand {
          height: 100px; } }
      @media (max-width: 991px) and (orientation: landscape) {
        header nav .container .navbar-brand {
          height: 90px; } }
      @media (max-width: 641px) {
        header nav .container .navbar-brand {
          width: 130px;
          height: 77px; } }
      @media (max-width: 320px) {
        header nav .container .navbar-brand {
          width: 115px;
          height: 70px; } }
      header nav .container .navbar-brand img {
        transition: all 0.5s ease;
        max-width: 100%; }
        @media (max-width: 641px) {
          header nav .container .navbar-brand img {
            width: 100%; } }
    header nav .container .navbar-toggler {
      width: 45px;
      height: 35px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      outline: none; }
      header nav .container .navbar-toggler span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        header nav .container .navbar-toggler span:nth-child(1) {
          top: 2px; }
          @media (max-width: 575px) {
            header nav .container .navbar-toggler span:nth-child(1) {
              top: 3px; } }
        header nav .container .navbar-toggler span:nth-child(2) {
          top: 15px; }
          @media (max-width: 575px) {
            header nav .container .navbar-toggler span:nth-child(2) {
              top: 12px; } }
        header nav .container .navbar-toggler span:nth-child(3) {
          top: 15px; }
          @media (max-width: 575px) {
            header nav .container .navbar-toggler span:nth-child(3) {
              top: 12px; } }
        header nav .container .navbar-toggler span:nth-child(4) {
          top: 28px; }
          @media (max-width: 575px) {
            header nav .container .navbar-toggler span:nth-child(4) {
              top: 21px; } }
        @media (max-width: 575px) {
          header nav .container .navbar-toggler span {
            height: 2px; } }
        header nav .container .navbar-toggler span.mobile {
          background: #2859CF; }
      header nav .container .navbar-toggler.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%; }
      header nav .container .navbar-toggler.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      header nav .container .navbar-toggler.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      header nav .container .navbar-toggler.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%; }
      @media (max-width: 575px) {
        header nav .container .navbar-toggler {
          width: 30px;
          height: 25px; } }
    @media (max-width: 991px) {
      header nav .container .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 9; } }
    header nav .container ul {
      margin: 0;
      list-style: none;
      line-height: 125px;
      display: flex; }
      header nav .container ul li {
        font-size: 15px;
        text-transform: uppercase;
        padding: 0 20px; }
        header nav .container ul li a {
          color: #fff;
          text-decoration: unset !important; }
          header nav .container ul li a.active {
            background-color: #2859CF;
            padding: .5rem 1.5rem;
            border-radius: 5px;
            color: #FFF !important; }
        @media (max-width: 991px) {
          header nav .container ul li:nth-child(1) {
            border: 0 !important;
            padding: 10px 0; } }
        @media (max-width: 1200px) {
          header nav .container ul li {
            font-size: 12px;
            padding: 0 19px; } }
        @media (max-width: 991px) {
          header nav .container ul li {
            line-height: initial;
            font-size: 16px;
            text-align: center;
            padding: 10px 0; } }
    @media (max-width: 641px) {
      header nav .container {
        padding-top: 0 !important;
        justify-content: center; } }
    @media (min-width: 992px) {
      header nav {
        padding: 0 !important; } }
    @media (max-width: 575px) {
      header nav {
        height: 82px;
        padding-top: 0 !important;
        padding-left: 7px !important; } }

.sticky-header {
  background-color: #FFF !important;
  transition: background-color 0.6s;
  height: 85px !important; }

.sticky-header-brand {
  height: 77px !important; }
  @media (max-width: 641px) {
    .sticky-header-brand {
      height: 77px !important; } }

.sticky-header-img {
  transform: scale(0.6);
  margin: 0 auto; }
  @media (max-width: 961px) {
    .sticky-header-img {
      transform: scale(1); } }

.sticky-header-item {
  color: #2859CF !important; }
  @media (max-width: 768px) {
    .sticky-header-item {
      color: #FFF !important; } }

#barrainfo {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999; }
  #barrainfo .container {
    background-color: #132439;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: .7rem 0; }
    #barrainfo .container div a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #FFF; }
      #barrainfo .container div a img {
        margin-right: .5rem; }
      #barrainfo .container div a span {
        font-size: 1.2rem; }
    #barrainfo .container div.topo {
      background-color: #265EE4;
      border-radius: 5px;
      padding: .2rem 1.2rem; }
      #barrainfo .container div.topo a {
        flex-direction: column; }
        #barrainfo .container div.topo a img {
          margin-right: 0; }
        #barrainfo .container div.topo a span {
          font-size: 1rem; }
    @media (max-width: 641px) {
      #barrainfo .container {
        padding: .7rem .8rem; }
        #barrainfo .container > div a span {
          display: none; }
        #barrainfo .container > div.topo {
          padding: .6rem 1.2rem; } }
  #barrainfo .shake2 {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 9;
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; }
@keyframes shake {
  10%,
        90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
        80% {
    transform: translate3d(2px, 0, 0); }
  30%,
        50%,
        70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
        60% {
    transform: translate3d(4px, 0, 0); } }
.modal-content {
  background-color: #FFF; }
  .modal-content .modal-header {
    background-color: #132439; }
    .modal-content .modal-header h5 {
      color: #FFF; }
  .modal-content .modal-body p {
    font-size: 16px;
    color: #132439;
    font-weight: unset; }
    .modal-content .modal-body p.politica {
      font-size: .8rem;
      text-align: left;
      text-transform: none;
      margin-bottom: 1rem; }
      .modal-content .modal-body p.politica input[type="checkbox"] {
        width: auto;
        height: auto;
        margin-bottom: 0;
        margin-right: .3rem;
        appearance: unset;
        background: #FFF;
        border: solid 1px #132439;
        padding: 5px;
        border-radius: 5px;
        outline: 0; }
        .modal-content .modal-body p.politica input[type="checkbox"]:checked {
          background-color: #265EE4;
          border: solid 1px #265EE4; }
      .modal-content .modal-body p.politica a {
        margin-left: .2rem;
        text-decoration: none;
        transition: .3s; }
        .modal-content .modal-body p.politica a:hover {
          color: #007bff; }
  .modal-content .modal-body input {
    width: 100%;
    height: 45px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    padding: 5px 15px;
    color: #132439;
    font-size: 15px;
    margin-bottom: 15px;
    background-color: #e5e5e5; }
    .modal-content .modal-body input::-moz-placeholder {
      color: #132439; }
  .modal-content .modal-body .iti {
    width: 100%; }
  .modal-content .modal-footer {
    border-top: none; }
    .modal-content .modal-footer button {
      background-color: #132439;
      color: #FFF;
      border: none; }
      .modal-content .modal-footer button:hover {
        background-color: #1a3351;
        transition: background-color 0.5s; }

#banner {
  background-image: url("../img/background-otimizada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 81%;
  height: 100vh; }
  #banner .banner-content {
    width: 100%;
    background-color: rgba(46, 21, 21, 0.3); }
    @media (max-width: 641px) {
      #banner .banner-content .container {
        align-items: center !important;
        margin-bottom: 1rem; } }
    #banner .banner-content .container .header-title {
      display: flex;
      align-items: center; }
      @media (max-height: 800px) {
        #banner .banner-content .container .header-title {
          margin-top: 50px; } }
      #banner .banner-content .container .header-title h2 {
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #029EE3;
        padding: .3rem;
        border-radius: .3rem; }
        @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
          #banner .banner-content .container .header-title h2 {
            font-size: 20px;
            text-align: center; } }
    #banner .banner-content .container .banner-text {
      color: white;
      font-family: "Montserrat", sans-serif;
      line-height: 1.3; }
      #banner .banner-content .container .banner-text .first-col {
        text-align: right;
        display: flex;
        align-items: center;
        padding: 0; }
        @media (max-width: 1199.98px) {
          #banner .banner-content .container .banner-text .first-col {
            justify-content: flex-end; } }
        #banner .banner-content .container .banner-text .first-col p:nth-of-type(2) {
          font-size: 40px; }
          @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
            #banner .banner-content .container .banner-text .first-col p:nth-of-type(2) {
              font-size: 20px; } }
      #banner .banner-content .container .banner-text .second-col {
        text-align: left; }
        @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
          #banner .banner-content .container .banner-text .second-col p:nth-of-type(1) {
            font-size: 12px;
            font-weight: 600; } }
        #banner .banner-content .container .banner-text .second-col p:nth-of-type(1) strong {
          font-size: 20px; }
        #banner .banner-content .container .banner-text .second-col p:nth-of-type(2) {
          font-size: 36px; }
          @media (max-width: 1199px) {
            #banner .banner-content .container .banner-text .second-col p:nth-of-type(2) {
              font-size: 32px; } }
          @media (max-width: 991px) {
            #banner .banner-content .container .banner-text .second-col p:nth-of-type(2) {
              font-size: 22px; } }
          @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
            #banner .banner-content .container .banner-text .second-col p:nth-of-type(2) {
              font-size: 20px; } }
        @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
          #banner .banner-content .container .banner-text .second-col p:nth-of-type(3) {
            font-size: 10px; } }
      #banner .banner-content .container .banner-text p strong {
        font-weight: 700; }
      #banner .banner-content .container .banner-text p:nth-of-type(1), #banner .banner-content .container .banner-text p:nth-of-type(2) {
        margin-bottom: 0; }
      @media (max-width: 991px) {
        #banner .banner-content .container .banner-text.last-row {
          justify-content: center; } }
      #banner .banner-content .container .banner-text h4 {
        font-size: 16px;
        font-weight: 600; }
    @media (max-width: 641px) {
      #banner .banner-content .container .header-form img {
        width: 100%;
        margin: 0 auto; } }
    #banner .banner-content .container .header-form form {
      max-width: 329px;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      padding: 1rem;
      background-color: rgba(58, 82, 110, 0.8); }
      #banner .banner-content .container .header-form form p {
        font-size: 19px;
        text-transform: uppercase;
        color: #fff; }
        @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
          #banner .banner-content .container .header-form form p {
            font-size: 12px;
            text-align: center; } }
        #banner .banner-content .container .header-form form p.politica {
          font-size: .8rem;
          text-align: left;
          text-transform: none;
          margin-bottom: 1rem; }
          #banner .banner-content .container .header-form form p.politica input[type="checkbox"] {
            height: auto;
            margin-bottom: 0;
            margin-right: .3rem;
            appearance: unset;
            background: #FFF;
            border: solid 1px #FFF;
            padding: 5px;
            border-radius: 5px;
            outline: 0; }
            #banner .banner-content .container .header-form form p.politica input[type="checkbox"]:checked {
              background-color: #132439; }
          #banner .banner-content .container .header-form form p.politica a {
            margin-left: .2rem;
            text-decoration: none;
            transition: .3s; }
            #banner .banner-content .container .header-form form p.politica a:hover {
              color: #007bff; }
      #banner .banner-content .container .header-form form input {
        margin-bottom: 11px;
        font-size: 14px;
        height: 45px; }
        #banner .banner-content .container .header-form form input::placeholder {
          color: #575757; }
      #banner .banner-content .container .header-form form .submit span {
        font-size: 0.75rem;
        color: #FFF; }
      #banner .banner-content .container .header-form form .submit button {
        text-transform: uppercase;
        padding: 7px 45px;
        background-color: #132439;
        border: 0;
        outline: 0;
        display: block;
        margin-left: auto; }
        @media (max-width: 575px), (max-height: 600px) and (orientation: landscape) {
          #banner .banner-content .container .header-form form .submit button {
            width: 100px;
            font-size: .9rem;
            padding: 0;
            border-radius: unset;
            height: 2rem; } }
      @media (max-width: 1200px) {
        #banner .banner-content .container .header-form form {
          max-width: 450px; } }
      #banner .banner-content .container .header-form form .iti {
        width: 100%;
        margin-bottom: 11px; }
    @media (max-width: 992px) {
      #banner .banner-content .container .header-form {
        padding: 0; } }
    @media (max-width: 575px) {
      #banner .banner-content .container .header-form {
        max-width: 273px;
        margin: .5rem auto;
        text-align: center; } }
    #banner .banner-content .container .right-text {
      font-family: "Montserrat", sans-serif;
      color: white;
      font-size: 12px;
      transform: rotate(-90deg);
      position: absolute;
      bottom: 70px;
      right: -70px; }
    @media (max-width: 767px) {
      #banner .banner-content {
        position: relative;
        top: auto; } }
  @media (max-height: 600px) and (orientation: landscape) {
    #banner {
      height: 120vh; }
      #banner .container .row:nth-of-type(1) {
        padding-top: 60px; }
      #banner .col-ls-6 {
        flex: 0 0 50%;
        max-width: 50%; } }
  @media (max-width: 1025px) {
    #banner {
      background-position: left; } }
  @media (max-width: 350px) {
    #banner {
      height: 115vh; } }

#info-empreendimento {
  font-family: "Montserrat", sans-serif; }
  #info-empreendimento > div:first-child {
    background-color: #3a526e;
    padding-bottom: 75px; }
    @media (min-width: 1700px) {
      #info-empreendimento > div:first-child {
        padding-top: 70px; } }
    @media (max-width: 767px), (max-width: 800px) and (orientation: landscape) {
      #info-empreendimento > div:first-child {
        padding-top: 0;
        padding-bottom: 0; } }
    @media (max-width: 575px) {
      #info-empreendimento > div:first-child {
        padding-top: 50px; } }
  @media (min-width: 1100px) and (max-width: 1690px) {
    #info-empreendimento > div .row {
      transform: translateY(50px); } }
  @media (min-width: 768px) and (max-width: 1025px) {
    #info-empreendimento > div .row {
      transform: translateY(61px); } }
  #info-empreendimento > div .row .info-empreendimento-content {
    display: flex;
    justify-content: flex-end; }
  #info-empreendimento > div .row .info-img {
    padding: 0; }
    @media (min-width: 1600px) {
      #info-empreendimento > div .row .info-img {
        padding-right: 3px; } }
    @media (max-width: 767px), (max-width: 800px) and (orientation: landscape) {
      #info-empreendimento > div .row .info-img {
        order: 2; } }
    #info-empreendimento > div .row .info-img img {
      width: 100%;
      min-height: 600px;
      object-fit: cover;
      object-position: left;
      height: 600px; }
      @media (min-width: 1440px) and (max-width: 1600px) {
        #info-empreendimento > div .row .info-img img {
          width: 98%; } }
      @media (max-width: 1200px) {
        #info-empreendimento > div .row .info-img img {
          width: 99%; } }
      @media (max-width: 767px) {
        #info-empreendimento > div .row .info-img img {
          position: absolute;
          top: -163px;
          max-width: 509px; } }
      @media (max-width: 767px), (max-width: 800px) and (orientation: landscape) {
        #info-empreendimento > div .row .info-img img {
          position: unset;
          min-height: 400px;
          height: 400px;
          width: 100%; } }
  #info-empreendimento .info-text {
    max-width: 417px;
    width: 100%;
    padding-top: 35px; }
    #info-empreendimento .info-text h2 {
      font-size: 30px;
      color: #fff;
      margin-bottom: 20px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #info-empreendimento .info-text h2 {
          margin-bottom: 1rem; } }
    #info-empreendimento .info-text h5 {
      font-weight: 600; }
      @media (min-width: 768px) and (max-width: 1023px) {
        #info-empreendimento .info-text h5 {
          font-size: 1.1rem;
          margin-bottom: .5rem !important; } }
    #info-empreendimento .info-text p {
      font-size: 18px;
      color: #fff; }
    @media (max-width: 767px) {
      #info-empreendimento .info-text {
        text-align: center;
        max-width: unset;
        padding-top: 50px;
        padding-bottom: 15px; } }
    @media (max-width: 575px) {
      #info-empreendimento .info-text {
        padding-bottom: 30px;
        padding-top: 0;
        text-align: left; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      #info-empreendimento .info-text {
        padding-top: 0; } }
    @media (max-width: 800px) and (orientation: landscape) {
      #info-empreendimento .info-text {
        padding-top: 50px;
        padding-bottom: 0; } }

#lazer {
  font-family: "Montserrat", sans-serif;
  background-color: #ECECEC;
  padding: 50px 0 100px;
  position: relative; }
  #lazer::before {
    content: "";
    position: absolute;
    top: -200px;
    width: 0;
    height: 0;
    border-left: 49.4vw solid transparent;
    border-right: 49.3vw solid transparent;
    border-bottom: 200px solid #ECECEC; }
    @media (max-width: 1025px) {
      #lazer::before {
        top: -199px; } }
    @media (max-width: 767px) {
      #lazer::before {
        top: -99px;
        border-left: 100vw solid transparent;
        border-right: 0 solid transparent;
        border-bottom: 100px solid #ECECEC; } }
  @media (max-width: 767px) {
    #lazer .container {
      padding: 0px; } }
  #lazer .main-lazer {
    position: relative; }
    @media (max-width: 767px) {
      #lazer .main-lazer {
        top: auto; } }
    #lazer .main-lazer .segunda-linha {
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        #lazer .main-lazer .segunda-linha {
          padding-right: 15px;
          padding-left: 15px;
          margin: 0; } }
      #lazer .main-lazer .segunda-linha .lazer-content h2 {
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 30px; }
        @media (max-width: 767px) {
          #lazer .main-lazer .segunda-linha .lazer-content h2 {
            text-align: center; } }
      @media (max-width: 767px) {
        #lazer .main-lazer .segunda-linha .lazer-content p {
          text-align: center; } }
      #lazer .main-lazer .segunda-linha .background {
        padding-left: 6px; }
    #lazer .main-lazer .carousel .toleft,
    #lazer .main-lazer .carousel .toright {
      position: absolute;
      top: 45%;
      left: 0px;
      cursor: pointer;
      z-index: 3; }
    #lazer .main-lazer .carousel .toright {
      left: unset;
      right: -3%; }
      @media (max-width: 1025px) {
        #lazer .main-lazer .carousel .toright {
          right: -5%; } }
      @media (max-width: 641px) {
        #lazer .main-lazer .carousel .toright {
          right: 0; } }
    #lazer .main-lazer .carousel .toleft {
      left: -3%; }
      @media (max-width: 1025px) {
        #lazer .main-lazer .carousel .toleft {
          left: -5%; } }
      @media (max-width: 641px) {
        #lazer .main-lazer .carousel .toleft {
          left: 0; } }
    #lazer .main-lazer .carousel .lazer-carousel .item a img {
      width: 100% !important;
      margin: 0 auto; }
    #lazer .main-lazer .carousel .lazer-carousel .item a .description {
      position: absolute;
      bottom: 0;
      right: 2%;
      background-color: rgba(0, 0, 0, 0.85);
      padding: .2rem 1rem;
      border-radius: .3rem;
      color: #FFF; }
      #lazer .main-lazer .carousel .lazer-carousel .item a .description p {
        color: #FFF;
        text-align: center;
        margin-bottom: 0; }
        #lazer .main-lazer .carousel .lazer-carousel .item a .description p:last-child {
          font-weight: 600; }
        @media (max-width: 1025px) {
          #lazer .main-lazer .carousel .lazer-carousel .item a .description p {
            font-size: .7rem; } }
  #lazer .background .imagem-lazer {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media (max-width: 767px) {
      #lazer .background .imagem-lazer {
        display: none; } }
  #lazer .background .description {
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.85);
    padding: .2rem 1rem;
    border-radius: .3rem;
    color: #FFF; }
    #lazer .background .description p {
      color: #FFF;
      text-align: center;
      margin-bottom: 0; }
      #lazer .background .description p:last-child {
        font-weight: 600; }
      @media (max-width: 1025px) {
        #lazer .background .description p {
          font-size: .7rem; } }
    @media (max-width: 767px) {
      #lazer .background .description {
        display: none; } }
  #lazer .background h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 85px; }
    @media (max-width: 767px) {
      #lazer .background h2 {
        margin-bottom: 40px; } }
  @media (max-width: 767px) {
    #lazer {
      padding-top: 40px;
      padding-bottom: 40px; } }

#localizacao {
  padding-top: 85px;
  padding-bottom: 90px;
  font-family: "Montserrat", sans-serif;
  background-color: #F1F1F1; }
  @media (max-width: 767px) {
    #localizacao {
      padding-top: 50px;
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    #localizacao .container {
      padding-left: 0px;
      padding-right: 0px; } }
  @media (max-width: 767px) {
    #localizacao .mapa {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px; } }
  #localizacao .imagens-mobile {
    display: none; }
    @media (max-width: 767px) {
      #localizacao .imagens-mobile {
        display: flex;
        overflow-x: scroll;
        padding-left: 15px; } }
    #localizacao .imagens-mobile .imagens {
      margin-right: 20px;
      position: relative; }
      #localizacao .imagens-mobile .imagens img {
        height: 240px;
        width: 247px;
        object-fit: cover; }
      #localizacao .imagens-mobile .imagens p {
        position: absolute;
        bottom: 0;
        font-size: .9rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: #FFF;
        margin: 0;
        border-radius: .3rem;
        padding: .2rem; }
      #localizacao .imagens-mobile .imagens:last-child {
        margin-right: 0px; }
    #localizacao .imagens-mobile::-webkit-scrollbar {
      display: none; }
  #localizacao h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem; }
    @media (max-width: 767px) {
      #localizacao h2 {
        margin-bottom: 40px; } }
  #localizacao h4 {
    font-weight: 600;
    margin-bottom: 2rem; }
  #localizacao .mapa iframe {
    width: 99%; }
  #localizacao .mapa .imagem-mapa {
    height: 100%;
    width: 100%;
    object-fit: cover; }
    @media (max-width: 767px) {
      #localizacao .mapa .imagem-mapa {
        display: none; } }
  #localizacao .mapa p {
    position: absolute;
    bottom: 0;
    font-size: .9rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    margin: 0;
    border-radius: .3rem;
    padding: .2rem; }
    @media (max-width: 767px) {
      #localizacao .mapa p {
        display: none; } }
  #localizacao .mapa .col-mapa {
    padding-right: 0px; }
    @media (max-width: 767px) {
      #localizacao .mapa .col-mapa {
        padding-right: 15px; } }
  #localizacao .mapa .col-img {
    padding-left: 0px; }
    @media (max-width: 767px) {
      #localizacao .mapa .col-img {
        padding-left: 15px; } }
  #localizacao .img-loc {
    margin-top: 10px; }
    #localizacao .img-loc img {
      width: 100%;
      height: 136px;
      object-fit: cover; }
      @media (max-width: 767px) {
        #localizacao .img-loc img {
          margin-bottom: 15px; } }
    #localizacao .img-loc p {
      position: absolute;
      bottom: 0;
      font-size: .9rem;
      background-color: rgba(0, 0, 0, 0.7);
      color: #FFF;
      margin: 0;
      border-radius: .3rem;
      padding: .2rem; }
    @media (max-width: 767px) {
      #localizacao .img-loc {
        display: none; } }

#plantas {
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
  padding-bottom: 100px; }
  @media (max-width: 575px) {
    #plantas {
      padding-bottom: 40px; } }
  #plantas h3 {
    color: #707070;
    font-weight: 700;
    text-align: center;
    padding-top: 43px;
    margin-bottom: 2rem; }
    @media (max-width: 575px) {
      #plantas h3 {
        margin: 0; } }
  #plantas h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  #plantas .plantas-content {
    display: flex; }
    #plantas .plantas-content .box-descrip-plantas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px; }
      #plantas .plantas-content .box-descrip-plantas a {
        font-size: 16px;
        text-decoration: unset;
        max-width: 390px;
        text-align: center;
        font-weight: 500;
        padding: 5px 20px;
        background-color: #2E374B;
        margin-bottom: 15px;
        color: #fff;
        width: 354px;
        border-radius: 5px; }
        @media (max-width: 1025px) {
          #plantas .plantas-content .box-descrip-plantas a {
            width: 260px;
            max-width: 265px; } }
        @media (max-width: 767px) {
          #plantas .plantas-content .box-descrip-plantas a {
            width: 90%; } }
        @media (max-width: 641px) {
          #plantas .plantas-content .box-descrip-plantas a {
            height: 86px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            max-width: inherit;
            font-size: 18px;
            margin-right: .5rem; } }
        #plantas .plantas-content .box-descrip-plantas a.active {
          background-color: #265EE4;
          color: #ffffff;
          position: relative;
          z-index: 999;
          margin-left: -56px;
          width: 365px;
          border-radius: 5px; }
          @media (max-width: 1025px) {
            #plantas .plantas-content .box-descrip-plantas a.active {
              width: 336px; } }
          @media (max-width: 767px) {
            #plantas .plantas-content .box-descrip-plantas a.active {
              width: 100%;
              margin-left: unset; } }
          @media (max-width: 641px) {
            #plantas .plantas-content .box-descrip-plantas a.active {
              width: inherit; } }
      @media (max-width: 1025px) {
        #plantas .plantas-content .box-descrip-plantas {
          padding-right: 1rem; } }
      @media (max-width: 767px) {
        #plantas .plantas-content .box-descrip-plantas {
          order: 1;
          margin: 0;
          width: 100%;
          align-items: center;
          overflow: scroll;
          justify-content: unset;
          flex-direction: unset; } }
    #plantas .plantas-content .box-plantas {
      max-width: 780px;
      width: 100%;
      height: 672px;
      background-color: #fff;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.19); }
      #plantas .plantas-content .box-plantas .card-img {
        height: 672px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #plantas .plantas-content .box-plantas .card-img img {
          max-width: 685px; }
        @media (max-width: 767px) {
          #plantas .plantas-content .box-plantas .card-img {
            height: 305px; } }
        @media (max-width: 575px) {
          #plantas .plantas-content .box-plantas .card-img {
            height: unset; } }
        #plantas .plantas-content .box-plantas .card-img p {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.7);
          padding: .3rem;
          border-radius: .3rem;
          color: #FFF; }
          @media (max-width: 1025px) {
            #plantas .plantas-content .box-plantas .card-img p {
              font-size: .9rem;
              width: 90%;
              margin: auto;
              right: 5%;
              bottom: 9%; } }
          @media (max-width: 641px) {
            #plantas .plantas-content .box-plantas .card-img p {
              position: relative;
              margin-top: 1rem;
              margin-left: auto;
              right: 0; } }
      @media (max-width: 1200px) {
        #plantas .plantas-content .box-plantas {
          max-width: 640px; } }
      @media (max-width: 1025px) {
        #plantas .plantas-content .box-plantas {
          height: 911px; } }
      @media (max-width: 992px) {
        #plantas .plantas-content .box-plantas {
          max-width: 430px; } }
      @media (max-width: 767px) {
        #plantas .plantas-content .box-plantas {
          height: 305px;
          order: 2; } }
      @media (max-width: 575px) {
        #plantas .plantas-content .box-plantas {
          height: unset;
          max-width: unset; } }
    @media (max-width: 767px) {
      #plantas .plantas-content {
        display: flex;
        flex-direction: column;
        align-items: center; } }

#main-realizacao {
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 767px) {
    #main-realizacao {
      background-color: #F5F5F5;
      padding-top: 40px; } }
  #main-realizacao h2 {
    color: #707070;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 45px; }
  #main-realizacao .align {
    display: flex; }
    @media (max-width: 767px) {
      #main-realizacao .align {
        flex-direction: column; } }
  #main-realizacao .realizacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    background-color: #F5F5F5; }
    #main-realizacao .realizacoes .logo-realizacoes {
      margin-right: 1rem; }
      @media (max-width: 767px) {
        #main-realizacao .realizacoes .logo-realizacoes {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 0px; } }
    @media (max-width: 641px) {
      #main-realizacao .realizacoes .realizacao img {
        width: 100%;
        margin: 0 !important; } }
    @media (max-width: 800px) and (orientation: landscape) {
      #main-realizacao .realizacoes .realizacao img {
        width: 60%; } }
    #main-realizacao .realizacoes .realizacao .text-mobile {
      display: none;
      text-align: center;
      margin-top: 40px; }
      #main-realizacao .realizacoes .realizacao .text-mobile h3 {
        font-weight: bold; }
      #main-realizacao .realizacoes .realizacao .text-mobile p {
        font-size: 1.2rem; }
      @media (max-width: 767px) {
        #main-realizacao .realizacoes .realizacao .text-mobile {
          display: block; } }
    #main-realizacao .realizacoes .realizacao:last-child {
      margin: auto 0;
      transform: translateY(-10px); }
      @media (max-width: 641px) {
        #main-realizacao .realizacoes .realizacao:last-child {
          transform: translateY(0); } }
    @media (max-width: 767px) {
      #main-realizacao .realizacoes .realizacao {
        margin-bottom: 20px;
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 0px 15px;
        display: flex;
        justify-content: center;
        align-items: center; } }
    @media (max-width: 575px) {
      #main-realizacao .realizacoes .realizacao {
        margin-bottom: 20px;
        margin-left: 0 !important; } }
    @media (max-width: 767px) {
      #main-realizacao .realizacoes {
        width: 100%;
        padding: 0px 0px 40px 0px;
        background-color: unset; } }

#contato {
  background-color: #3A4A6E;
  height: 73vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #contato h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff; }
  #contato form {
    background-color: #F9F9F9;
    padding: 70px 100px; }
    #contato form p {
      font-size: 1.2rem;
      color: #000;
      text-align: center;
      margin-bottom: 1.5rem; }
      #contato form p.politica {
        font-size: .8rem;
        text-align: left;
        text-transform: none;
        margin-bottom: 1rem; }
        #contato form p.politica input[type="checkbox"] {
          height: auto;
          margin-bottom: 0;
          margin-right: .3rem;
          appearance: unset;
          background: #FFF;
          border: solid 1px #132439;
          padding: 5px;
          border-radius: 5px;
          outline: 0; }
          #contato form p.politica input[type="checkbox"]:checked {
            background-color: #265EE4;
            border: solid 1px #265EE4; }
        #contato form p.politica a {
          margin-left: .2rem;
          text-decoration: none;
          transition: .3s; }
          #contato form p.politica a:hover {
            color: #007bff; }
    @media (max-width: 767px) {
      #contato form {
        padding: 25px; } }
    #contato form input {
      height: 60px;
      margin-bottom: 10px; }
    #contato form .coluna-1 {
      padding-right: 5px; }
      @media (max-width: 767px) {
        #contato form .coluna-1 {
          padding: 0px 15px; } }
    #contato form .coluna-2 {
      padding-left: 5px; }
      @media (max-width: 767px) {
        #contato form .coluna-2 {
          padding: 0px 15px; } }
      #contato form .coluna-2 .iti {
        width: 100%;
        margin-bottom: 10px; }
      #contato form .coluna-2 textarea {
        margin-bottom: 10px; }
    #contato form .button-form {
      width: 100%;
      display: flex;
      justify-content: center; }
      #contato form .button-form button {
        padding: 5px 98px;
        border-radius: 3px;
        background-color: #265EE4;
        border: 0; }
        @media (max-width: 767px) {
          #contato form .button-form button {
            width: 100%;
            padding: 5px 0; } }
    #contato form .form-control {
      background-color: #EEEEEE;
      border: 0px; }
  @media (max-width: 641px), (max-width: 800px) and (orientation: landscape) {
    #contato {
      height: auto;
      padding-bottom: 2rem;
      padding-top: 2rem; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  color: #FFF;
  height: 200px; }
  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #FFF; }
  footer .container .logo a {
    transform: translateY(-1rem);
    text-align: center; }
    @media (max-width: 641px) {
      footer .container .logo a img {
        width: 80%; } }
    @media (max-width: 641px) {
      footer .container .logo a {
        transform: translateY(0); } }
  footer .container .logo.internit img {
    transform: translateX(6rem); }
    @media (max-width: 641px) {
      footer .container .logo.internit img {
        transform: translateX(0);
        width: 71%; } }
  footer .container .logo.incena img {
    transform: translateX(-4rem); }
    @media (max-width: 641px) {
      footer .container .logo.incena img {
        transform: translateX(0); } }
  @media (max-width: 767px) {
    footer .container .logo.incena {
      align-items: flex-start !important; } }
  @media (max-width: 641px) {
    footer .container .logo {
      text-align: center; } }
  @media (max-width: 767px) {
    footer {
      height: 269px; } }

@media (max-width: 641px) {
  .modalPopup {
    min-width: 100% !important; } }
.modalPopup .modal-close {
  width: 62% !important; }

#banner-politica {
  background: url("../img/politica-de-privacidade.jpg");
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative; }
  #banner-politica .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  #banner-politica h1 {
    z-index: 2; }
  @media (max-width: 767px) {
    #banner-politica {
      height: 350px; } }

/*# sourceMappingURL=main.css.map */
