header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  nav {
    height: 125px;
    font-family: $font-primary;

    @media (max-width: 991px) and (orientation: landscape) {
      height: 77px;

      &.navbar {
        padding: 0 1rem;
      }
    }

    .container {

      @media (min-width: 1200px){
        max-width: 1240px !important;
      }

      @media (min-width: 992px) and (max-width: 1199px){
        max-width: 1008px !important;
      }

      .social {
        display: none;
        align-items: center;

        a {
          padding: 0 25px;

          i {
            font-size: 36px;
            color: #000;

            @media (max-width: 767px) {
              color: #fff;
              font-size: 30px;
            }

            @media (max-width: 575px) {
              font-size: 22px;
            }

            &.mobile{
              color: #2859CF;
            }
          }

          img {
            @media (max-width: 575px) {
              width: 20px;
            }
          }

          &:last-child {
            padding-right: 0;

            @media (max-width: 767px) {
              padding-right: 25px;
            }

            @media (max-width: 575px) {
              padding-right: 30px;
            }
          }

          @media (max-width: 575px) {
            padding: 0 8px;
          }
        }

        @media (max-width: 575px) {
          display: flex;
        }
      }

      .navbar-brand {
        width: 200px;
        height: 125px;
        display: flex;
        align-items: center;

        background-color: #FFF;
        padding: .5rem 1.2rem;
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;

        transition: all .5s;

        @media (prefers-color-scheme: dark) {
          background-color: #FFF;
        }

        @media (max-width: 1209px) {
          width: 170px;
        }

        @media (max-width: 1199px) {
          width: 130px;
        }

        @media (max-width: 900px) {
          height: 100px;
        }

        @media (max-width: 991px) and (orientation: landscape) {
          height: 90px;
        }

        @media (max-width: 641px) {
          width: 130px;
          height: 77px;
        }

        @media (max-width: 320px) {
          width: 115px;
          height: 70px;
        }

        img {
          transition: all 0.5s ease;
          max-width: 100%;
          // @media (max-width: 1025px) {
          //   max-width: 100%;
          // }

          @media (max-width: 641px) {
            width: 100%;
          }
        }
      }

      .navbar-toggler {
        width: 45px;
        height: 35px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        outline: none;

        span {
          display: block;
          position: absolute;
          height: 5px;
          width: 100%;
          background: white;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;

          &:nth-child(1) {
            top: 2px;

            @media (max-width: 575px) {
              top: 3px;
            }
          }

          &:nth-child(2) {
            top: 15px;

            @media (max-width: 575px) {
              top: 12px;
            }
          }

          &:nth-child(3) {
            top: 15px;

            @media (max-width: 575px) {
              top: 12px;
            }
          }

          &:nth-child(4) {
            top: 28px;

            @media (max-width: 575px) {
              top: 21px;
            }
          }

          @media (max-width: 575px) {
            height: 2px;
          }

          &.mobile{
            background: #2859CF;
          }
        }

        &.open {
          span {
            &:nth-child(1) {
              top: 18px;
              width: 0%;
              left: 50%;
            }

            &:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            &:nth-child(4) {
              top: 18px;
              width: 0%;
              left: 50%;
            }
          }
        }

        @media (max-width: 575px) {
          width: 30px;
          height: 25px;
        }
      }

      .navbar-collapse {
        @media (max-width: 991px) {
          background-color: rgba(0, 0, 0, 0.9);
          z-index: 9;
        }
      }

      ul {
        margin: 0;
        list-style: none;
        line-height: 125px;
        display: flex;

        li {
          font-size: 15px;
          text-transform: uppercase;
          padding: 0 20px;

          a {
            color: #fff;
            text-decoration: unset !important;

            &.active {
              background-color: #2859CF;
              padding: .5rem 1.5rem;
              border-radius: 5px;
              color: #FFF !important;
            }
          }

          &:nth-child(1) {

            // @media (max-width: 1200px) {
            //   padding: 0 30px;
            // }

            @media (max-width: 991px) {
              border: 0 !important;
              padding: 10px 0;
            }
          }

          @media (max-width: 1200px) {
            font-size: 12px;
            padding: 0 19px;
          }

          @media (max-width: 991px) {
            line-height: initial;
            font-size: 16px;
            text-align: center;
            padding: 10px 0;
          }
        }
      }

      @media (max-width: 641px) {
        padding-top: 0 !important;
        justify-content: center;
      }
    }

    @media (min-width: 992px) {
      padding: 0 !important;
    }

    @media (max-width: 575px) {
      height: 82px;
      padding-top: 0 !important;
      padding-left: 7px !important;
    }
  }
}

.sticky-header{
  background-color: #FFF !important;
  transition: background-color 0.6s;
  height: 85px !important;
}

.sticky-header-brand{
  height: 77px !important; 

  @media (max-width: 641px){
    height: 77px !important;
  }
}

.sticky-header-img{
  transform: scale(0.6);
  margin: 0 auto;

  @media (max-width: 961px){
    transform: scale(1);
  }
}

.sticky-header-item{
  color: #2859CF !important;

  @media (max-width: 768px){
    color: #FFF !important;
  }
}