#lazer {
  font-family: $font-primary;
  background-color: #ECECEC;
  padding: 50px 0 100px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -200px;
    width: 0;
    height: 0;
    border-left: 49.4vw solid transparent;
    border-right: 49.3vw solid transparent;
    border-bottom: 200px solid #ECECEC;

    @media (max-width: 1025px) {
      top: -199px;
    }

    @media (max-width: 767px) {
      top: -99px;
      border-left: 100vw solid transparent;
      border-right: 0 solid transparent;
      border-bottom: 100px solid #ECECEC;
    }
  }

  .container {
    @media (max-width: 767px) {
      padding: 0px;
    }
  }

  .main-lazer {
    position: relative;

    @media (max-width: 767px) {
      top: auto;
    }

    .segunda-linha {
      margin-bottom: 20px;

      @media (max-width: 767px) {
        padding-right: 15px;
        padding-left: 15px;
        margin: 0;
      }

      .lazer-content {
        h2 {
          font-weight: 700;
          margin-bottom: 30px;
          margin-top: 30px;

          @media (max-width: 767px) {
            text-align: center;
          }
        }

        p {
          @media (max-width: 767px) {
            text-align: center;
          }
        }
      }

      .background {
        padding-left: 6px;
      }
    }

    .carousel {

      .toleft,
      .toright {
        position: absolute;
        top: 45%;
        left: 0px;
        cursor: pointer;
        z-index: 3;
      }

      .toright {
        left: unset;
        right: -3%;

        @media (max-width: 1025px) {
          right: -5%;
        }

        @media (max-width: 641px) {
          right: 0;
        }
      }

      .toleft {
        left: -3%;

        @media (max-width: 1025px) {
          left: -5%;
        }

        @media (max-width: 641px) {
          left: 0;
        }
      }

      .lazer-carousel {
        .item {
          a {
            img {
              width: 100% !important;
              margin: 0 auto;
            }

            .description {
              position: absolute;
              bottom: 0;
              right: 2%;
              background-color: rgba(0, 0, 0, 0.85);
              padding: .2rem 1rem;
              border-radius: .3rem;
              color: #FFF;

              p {
                color: #FFF;
                text-align: center;
                margin-bottom: 0;

                &:last-child {
                  font-weight: 600;
                }

                @media (max-width: 1025px){
                  font-size: .7rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .background {
    .imagem-lazer {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (max-width: 767px) {
        display: none;
      }

    }

    .description{
      position: absolute;
      bottom: 0;
      right: 5%;
      background-color: rgba(0, 0, 0, 0.85);
      padding: .2rem 1rem;
      border-radius: .3rem;
      color: #FFF;

      p {
        color: #FFF;
        text-align: center;
        margin-bottom: 0;

        &:last-child {
          font-weight: 600;
        }

        @media (max-width: 1025px){
          font-size: .7rem;
        }
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    h2 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 85px;

      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}