#localizacao {
    padding-top: 85px;
    padding-bottom: 90px;
    font-family: $font-primary;
    background-color: #F1F1F1;
    @media (max-width: 767px) {
      padding-top: 50px;
      padding-bottom: 40px;
    }

    .container{
      @media (max-width: 767px) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .mapa{
      @media (max-width: 767px) {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
      }
    }

    .imagens-mobile{
      display: none;

      @media (max-width: 767px) {
        display: flex;
        overflow-x: scroll;
        padding-left: 15px;
      }
      .imagens{
        margin-right: 20px;
        position: relative;
        img{
          height: 240px;
          width: 247px;
          object-fit: cover;
        }
        p{
          position: absolute;
          bottom: 0;
          font-size: .9rem;
          background-color: rgba(0, 0, 0, 0.7);
          color: #FFF;
          margin: 0;
          border-radius: .3rem;
          padding: .2rem;
        }
        &:last-child{
          margin-right: 0px;
        }
      }
      &::-webkit-scrollbar {
          display: none;
      }
    }

    h2{
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 2rem;
      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }

    h4{
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .mapa{
      iframe {
          width: 99%;
      }
      .imagem-mapa{
        height: 100%;
        width: 100%;
        object-fit: cover;
        @media (max-width: 767px) {
            display: none;
        }
      }
      p{
        position: absolute;
        bottom: 0;
        font-size: .9rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: #FFF;
        margin: 0;
        border-radius: .3rem;
        padding: .2rem;

        @media (max-width: 767px){
          display: none;
        }
      }
      .col-mapa{
        padding-right: 0px;
        @media (max-width: 767px) {
            padding-right: 15px;
        }
      }
      .col-img{
        padding-left: 0px;
        @media (max-width: 767px) {
            padding-left: 15px;
        }
      }
    }

    .img-loc {
        margin-top: 10px;
        img {
            width: 100%;
            height: 136px;
            object-fit: cover;

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }

        p{
          position: absolute;
          bottom: 0;
          font-size: .9rem;
          background-color: rgba(0, 0, 0, 0.7);
          color: #FFF;
          margin: 0;
          border-radius: .3rem;
          padding: .2rem;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
}
