#info-empreendimento {
    font-family: $font-primary;

    &>div {
        &:first-child {
            background-color: #3a526e;
            padding-bottom: 75px;

            @media (min-width: 1700px){
                padding-top: 70px;
            }

            @media (max-width: 767px), (max-width: 800px) and (orientation: landscape) {
                padding-top: 0;
                padding-bottom: 0;
            }

            @media (max-width: 575px) {
                padding-top: 50px;
            }
        }

        .row {
            @media (min-width: 1100px) and (max-width: 1690px){
                transform: translateY(50px);
            }

            @media (min-width: 768px) and (max-width: 1025px){
                transform: translateY(61px);
            }

            .info-empreendimento-content {
                display: flex;
                justify-content: flex-end;
            }

            .info-img {
                padding: 0;

                @media (min-width: 1600px){
                    padding-right: 3px;
                }

                @media (max-width: 767px), (max-width: 800px) and (orientation: landscape) {
                    order: 2;
                }

                img {
                    width: 100%;
                    min-height: 600px;
                    object-fit: cover;
                    object-position: left;
                    height: 600px;

                    @media (min-width: 1440px) and (max-width: 1600px){
                        width: 98%;
                    }

                    @media (max-width: 1200px) {
                        width: 99%;
                    }

                    @media (max-width: 767px) {
                        position: absolute;
                        top: -163px;
                        max-width: 509px;
                    }

                    @media (max-width: 767px), (max-width: 800px) and (orientation: landscape) {
                        position: unset;
                        min-height: 400px;
                        height: 400px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .info-text {
        max-width: 417px;
        width: 100%;
        padding-top: 35px;

        h2 {
            font-size: 30px;
            color: #fff;
            margin-bottom: 20px;

            @media (min-width: 768px) and (max-width: 1023px){
                margin-bottom: 1rem;
            }
        }

        h5{
            font-weight: 600;

            @media (min-width: 768px) and (max-width: 1023px){
                font-size: 1.1rem;
                margin-bottom: .5rem !important;
            }
        }

        p {
            font-size: 18px;
            color: #fff;
        }

        @media (max-width: 767px) {
            text-align: center;
            max-width: unset;
            padding-top: 50px;
            padding-bottom: 15px;
        }

        @media (max-width: 575px) {
            padding-bottom: 30px;
            padding-top: 0;
            text-align: left;
        }

        @media (min-width: 768px) and (max-width: 1023px){
            padding-top: 0;
        }

        @media (max-width: 800px) and (orientation: landscape) {
            padding-top: 50px;
            padding-bottom: 0;
        }
    }



}