#barrainfo {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;

    .container {
        background-color: #132439;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        padding: .7rem 0;

        div {

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #FFF;

                img {
                    margin-right: .5rem;
                }

                span {
                    font-size: 1.2rem;
                }
            }

            &.topo {
                background-color: #265EE4;
                border-radius: 5px;
                padding: .2rem 1.2rem;

                a {
                    flex-direction: column;

                    img {
                        margin-right: 0;
                    }

                    span {
                        font-size: 1rem;
                    }
                }
            }
        }

        @media (max-width: 641px) {
            padding: .7rem .8rem;

            >div {

                a {
                    span {
                        display: none;
                    }
                }

                &.topo {
                    padding: .6rem 1.2rem;
                }
            }
        }
    }

    .shake2 {
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 9;
        cursor: pointer;

        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    @keyframes shake {

        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}

.modal-content {
    background-color: #FFF;

    .modal-header {
        background-color: #132439;

        h5 {
            color: #FFF;
        }
    }

    .modal-body {
        p {
            font-size: 16px;
            color: #132439;
            font-weight: unset;

            &.politica {
                font-size: .8rem;
                text-align: left;
                text-transform: none;
                margin-bottom: 1rem;

                input[type="checkbox"] {
                    width: auto;
                    height: auto;
                    margin-bottom: 0;
                    margin-right: .3rem;
                    appearance: unset;
                    background: #FFF;
                    border: solid 1px #132439;
                    padding: 5px;
                    border-radius: 5px;
                    outline: 0;

                    &:checked {
                        background-color: #265EE4;
                        border: solid 1px #265EE4;
                    }
                }

                a {
                    margin-left: .2rem;
                    text-decoration: none;
                    transition: .3s;

                    &:hover {
                        color: #007bff;
                    }
                }
            }
        }

        input {
            width: 100%;
            height: 45px;
            outline: 0;
            border: 0;
            border-radius: 2px;
            padding: 5px 15px;
            color: #132439;
            font-size: 15px;
            margin-bottom: 15px;
            background-color: #e5e5e5;

            &::-moz-placeholder {
                color: #132439;
            }
        }

        .iti {
            width: 100%;
        }
    }

    .modal-footer {
        border-top: none;

        button {
            background-color: #132439;
            color: #FFF;
            border: none;

            &:hover {
                background-color: #1a3351;
                transition: background-color 0.5s;
            }
        }
    }
}