#plantas {
    font-family: $font-primary;
    background-color: #FFF;
    padding-bottom: 100px;

    @media (max-width: 575px) {
        padding-bottom: 40px;
    }

    h3 {
        color: #707070;
        font-weight: 700;
        text-align: center;
        padding-top: 43px;
        margin-bottom: 2rem;

        @media (max-width: 575px) {
            margin: 0;
        }
    }

    h4{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .plantas-content {
        display: flex;

        .box-descrip-plantas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;

            a {
                font-size: 16px;
                text-decoration: unset;
                max-width: 390px;
                text-align: center;
                font-weight: 500;
                padding: 5px 20px;
                background-color: #2E374B;
                margin-bottom: 15px;
                color: #fff;
                width: 354px;
                border-radius: 5px;

                @media (max-width: 1025px){
                    width: 260px;
                    max-width: 265px;
                }

                @media (max-width: 767px) {
                    width: 90%;
                }

                @media (max-width: 641px){
                    height: 86px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: inherit;
                    max-width: inherit;

                    font-size: 18px;
                    margin-right: .5rem;
                }

                &.active {
                    background-color: #265EE4;
                    color: #ffffff;
                    position: relative;
                    z-index: 999;
                    margin-left: -56px;
                    width: 365px;
                    border-radius: 5px;

                    @media (max-width: 1025px){
                        width: 336px;
                    }

                    @media (max-width: 767px) {
                        width: 100%;
                        margin-left: unset;
                    }

                    @media (max-width: 641px){
                        width: inherit;
                    }
                }
            }

            @media (max-width: 1025px){
                padding-right: 1rem;
            }

            @media (max-width: 767px) {
                order: 1;
                margin: 0;
                width: 100%;
                align-items: center;
                overflow: scroll;
                justify-content: unset;
                flex-direction: unset;
            }
        }

        .box-plantas {
            max-width: 780px;
            width: 100%;
            height: 672px;
            background-color: #fff;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.19);

            .card-img {
                height: 672px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 685px;
                }

                @media (max-width: 767px) {
                    height: 305px;
                }

                @media (max-width: 575px) {
                    height: unset;
                }

                p{
                    position: absolute;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.7);
                    padding: .3rem;
                    border-radius: .3rem;
                    color: #FFF;

                    @media (max-width: 1025px){
                        font-size: .9rem;
                        width: 90%;
                        margin: auto;
                        right: 5%;
                        bottom: 9%;
                    }

                    @media (max-width: 641px){
                        position: relative;
                        margin-top: 1rem;
                        margin-left: auto;
                        right: 0;
                    }
                }
            }

            @media (max-width: 1200px) {
                max-width: 640px;
            }

            @media (max-width: 1025px){
                height: 911px;
            }

            @media (max-width: 992px) {
                max-width: 430px;
            }

            @media (max-width: 767px) {
                height: 305px;
                order: 2;
            }

            @media (max-width: 575px) {
                height: unset;
                max-width: unset;
            }
        }

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}